@import '../../../scss/_functions.scss';
@import '../../../scss/_mixins.scss';

.section {
	min-height: 600px;
	display: flex;
	justify-content: space-between;
	padding: 0 100px 0;

	border-bottom: 1px solid rgb(var(--gray-line-rgb));
}

.titleContainer {
	width: 765px;
	padding: 50px 0 100px;
}

.breadCrumbs {
	margin-bottom: 60px;
	display: flex;
	font-size: 10px;
	font-weight: 300;

	& p {
		font-weight: 600;
	}
}

.article {
	margin-bottom: 40px;
	font-size: 16px;
	font-weight: 600;

	& span {
		color: var(--red-button);
	}
}

.nameContainer {
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	font-size: 64px;
	font-weight: 700;

	& h1 {
		font-size: 64px;
	}
}

.brand {
	margin-right: 15px;
}

.title {
	color: var(--red-button);
}

.typeContainer {
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
}

.type {
	margin-right: 8px;
	font-size: 24px;
	font-weight: 400;
}

.size {
	font-size: 24px;
	font-weight: 700;
}

.description {
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 400;
}

.warning {
	font-size: 16px;
	font-weight: 700;
}

@media (max-width: 1920px) {
	.section {
		// min-height: 600px;
		padding: 0 calcVW(100) 0;
	}

	.titleContainer {
		width: calcVW(800);
		padding: calcVH(50) 0 calcVH(100);
	}

	.breadCrumbs {
		margin-bottom: calcVH(60);
		// font-size: 10px;
	}

	.article {
		margin-bottom: calcVH(40);
		// font-size: 16px;
	}

	.nameContainer {
		margin-bottom: calcVH(20);
		@include adaptive-font(64, 32);

		& h1 {
			@include adaptive-font(64, 32);
		}
	}

	.type {
		// margin-right: 5px;
		@include adaptive-font(24, 16);
	}

	.size {
		@include adaptive-font(24, 16);
	}

	.description {
		// margin-bottom: 20px;
		@include adaptive-font(16, 12);
	}

	.warning {
		@include adaptive-font(16, 12);
	}
}

@media (max-width: 1440px) {
	.section {
		min-height: 540px;
	}
}

@media (max-width: 1024px) {
	.section {
		// min-height: 100%;
		padding: 0;
		flex-direction: column;
	}

	.breadCrumbs {
		display: none;
	}

	.titleContainer {
		width: 100%;
		padding: 40px 40px 50px;
	}

	.description {
		font-size: 14px;
	}

	.warning {
		font-size: 14px;
	}
}

@media (max-width: 768px) {
	.article {
		font-size: 14px;
	}

	.titleContainer {
		padding: 40px 30px 40px;
	}
}
