.section {
	min-height: 600px;
	display: flex;
	justify-content: space-between;
	padding: 0 100px 0;

	border-bottom: 1px solid rgb(var(--gray-line-rgb));
}

.loadingContainer {
	min-height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.titleContainer {
	width: 765px;
	padding: 50px 0 100px;
}

.breadCrumbs {
	margin-bottom: 60px;
	display: flex;
	font-size: 10px;
	font-weight: 300;

	& p {
		font-weight: 600;
	}
}

.article {
	margin-bottom: 40px;
	font-size: 16px;
	font-weight: 600;

	& span {
		color: var(--red-button);
	}
}

.nameContainer {
	margin-bottom: 20px;
	display: flex;
	font-size: 64px;
	font-weight: 700;

	& h1 {
		font-size: 64px;
	}
}

.brand {
	margin-right: 15px;
}

.title {
	color: var(--red-button);
}

.typeContainer {
	margin-bottom: 20px;
	display: flex;
}

.type {
	margin-right: 5px;
	font-size: 24px;
	font-weight: 400;
}

.size {
	margin-right: 15px;
	font-size: 24px;
	font-weight: 700;
}

.description {
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 400;
}

.warning {
	font-size: 16px;
	font-weight: 700;
}
