@import '../../../scss/_functions.scss';
@import '../../../scss/_mixins.scss';

.section {
	border-bottom: 1px solid rgb(var(--gray-line-rgb));
}

.content {
	margin: 20px 0;
	display: flex;
	color: var(--white);
	background-color: rgb(var(--foreground-rgb));
	border-radius: 20px;
	padding: 0 80px 0;
}

.titleContainer {
	width: 575px;
	border-right: 1px solid rgb(var(--gray-line-rgb));
	padding: 50px 50px 30px 0;
	display: flex;
	flex-direction: column;
}

.title {
	margin-bottom: 20px;
	font-size: 40px;
	font-weight: 700;
}

.description {
	line-height: 120%;
	max-width: 480px;
}

.counter {
	margin-top: auto;
	font-size: 64px;
	font-weight: 700;

	& span {
		font-size: 24px;
	}
}

.survey {
	flex: 1;
	padding: 50px 0 30px 90px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.typesContainer {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 90px;

	ul {
		width: 50%;
		display: flex;
		flex-wrap: wrap;
		row-gap: 30px;

		&:first-child {
			border-right: 1px solid rgba(var(--white-opacity-rgba));
			padding-right: 70px;
		}

		&:nth-child(2) {
			padding-left: 70px;
		}
	}
}

.conditionsContainer {
	display: flex;
	flex-direction: column;
}

.optionConnections {
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	// grid-gap: 50px;
	row-gap: 30px;
	// flex-wrap: wrap;
	border-bottom: 1px solid rgba(var(--white-opacity-rgba));
	padding-bottom: 30px;
}

.optionTemperatures {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	// flex-wrap: wrap;
	padding-top: 30px;
}

.surveyTitle {
	margin-bottom: 30px;
	font-size: 32px;
	font-weight: 700;
}

.options {
	display: flex;
	flex-wrap: wrap;
	row-gap: 30px;
	column-gap: 50px;
	margin-bottom: 90px;
}

.optionTask {
	width: 310px;
}

.optionType {
	display: flex;
	flex-direction: column;

	& h4 {
		font-weight: 400;
	}
}

.controls {
	border-top: 1px solid rgba(var(--white-opacity-rgba));
	padding-top: 30px;
	display: flex;
	align-items: center;
}

.backButton {
	border: none;
	margin-right: 50px;
	background-color: transparent;
	cursor: pointer;
	opacity: 1;
	transition: all 0.3s;

	&:disabled {
		opacity: 0.2;
		cursor: auto;
	}
}

.forwardButton {
	width: 330px;
	height: 80px;
	cursor: pointer;
	opacity: 1;
	scale: 1;
	transition: all 0.3s;

	&:disabled {
		opacity: 0;
		scale: 0;
	}
}

@media (max-width: 1920px) {
	.content {
		margin: calcVH(20) 0;
		// border-radius: 20px;
		padding: 0 calcVW(80) 0;
	}

	.titleContainer {
		width: calcVW(575);
	}

	.title {
		margin-bottom: calcVH(20);
		@include adaptive-font-mobile(40, 20);
	}

	// .description {
	// max-width: 480px;
	// }

	.counter {
		@include adaptive-font(64, 32);

		& span {
			@include adaptive-font(24, 12);
		}
	}

	.survey {
		padding: calcVH(50) 0 calcVH(30) calcVW(90);
	}

	.typesContainer {
		margin-bottom: calcVH(90);

		ul {
			// width: 50%;
			// display: flex;
			// flex-wrap: wrap;
			row-gap: calcVH(30);
			// column-gap: calcVW(10);
		}
	}

	.surveyTitle {
		margin-bottom: calcVH(30);
		@include adaptive-font(32, 20); // 20 - уже на мобилке.
	}

	.options {
		row-gap: calcVH(30);
		column-gap: calcVW(50);
		margin-bottom: calcVH(90);
	}

	// .optionTask {
	// width: calcVW(310);
	// width: 100%;
	// flex: auto;
	// }

	.controls {
		padding-top: calcVH(30);
	}

	.backButton {
		margin-right: calcVW(50);
	}

	.forwardButton {
		// width: 330px;
		// width: calcVW(330);
		// height: 80px;
		// height: calcVH(80);
	}
}

@media (max-width: 768px) {
	.counter {
		display: none;
	}
}
