@import '../../../scss/_functions.scss';
@import '../../../scss/_mixins.scss';

.section {
	border-bottom: 1px solid rgb(var(--gray-line-rgb));
}

.content {
	min-height: 552px;
	margin: 20px 0;
	display: flex;
	color: var(--white);
	background-color: rgb(var(--foreground-rgb));
	border-radius: 20px;
	padding: 0 80px 0;
}

.titleContainer {
	width: 575px;
	border-right: 1px solid rgb(var(--gray-line-rgb));
	padding: 50px 50px 30px 0;
	display: flex;
	flex-direction: column;
}

.title {
	margin-bottom: 20px;
	font-size: 40px;
	font-weight: 700;
}

.description {
	line-height: 120%;
	max-width: 480px;
}

.counter {
	margin-top: auto;
	font-size: 64px;
	font-weight: 700;

	& span {
		font-size: 24px;
	}
}

.survey {
	flex: 1;
	padding: 50px 0 30px 90px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

// .surveyForm {
// }

.surveyFormType {
	position: absolute;
}

.surveyFormConnection {
	position: absolute;
}

.surveyFormConditions {
	position: absolute;
}

.surveyFormResults {
	position: absolute;
	width: 93%;
}

.typesContainer {
	display: flex;
	flex-wrap: wrap;

	ul {
		width: 50%;
		display: flex;
		flex-wrap: wrap;
		row-gap: 30px;

		&:first-child {
			border-right: 1px solid rgba(var(--white-opacity-rgba));
			padding-right: 80px;
			// padding-right: 65px;
		}

		&:nth-child(2) {
			padding-left: 80px;
			// padding-left: 65px;
		}
	}
}

.connectionsContainer {
	display: flex;
	flex-direction: column;
}

.optionsConnection {
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	row-gap: 30px;
	// column-gap: 50px;
	border-bottom: 1px solid rgba(var(--white-opacity-rgba));
	padding-bottom: 30px;

	& li {
		&:nth-child(1),
		&:nth-child(2) {
			width: 70%;
		}

		&:nth-child(3) {
			width: 80%;
		}

		&:nth-child(4) {
			width: 80%;
		}
	}
}

.optionsTemperature {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	// column-gap: 50px;
	padding-top: 30px;
}

.optionsCondition {
	display: flex;
	flex-wrap: wrap;
	row-gap: 30px;
}

.optionCondition {
	width: 50%;
}

.surveyTitle {
	margin-bottom: 30px;
	font-size: 32px;
	font-weight: 700;

	// &:last-child {
	// 	margin-bottom: 20px;
	// }
}

.surveyTitleResults {
	margin-bottom: 20px;
}

.optionsTask {
	display: flex;
	flex-wrap: wrap;
	gap: 30px 50px;
	// row-gap: 30px;
	// column-gap: 50px;
}

.optionTask {
	width: 310px;
}

.optionsType {
	display: flex;
	flex-direction: column;

	& h4 {
		font-weight: 400;
	}

	& li {
		width: 102%;
	}
}

.resultsList {
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}

.controls {
	border-top: 1px solid rgba(var(--white-opacity-rgba));
	padding-top: 30px;
	display: flex;
	align-items: center;
}

.backButton {
	border: none;
	margin-right: 50px;
	background-color: transparent;
	cursor: pointer;
	opacity: 1;
	transition: opacity 0.3s;

	&:disabled {
		opacity: 0.2;
		cursor: auto;
	}
}

.forwardButton {
	width: 330px;
	height: 80px;
	cursor: pointer;
	opacity: 1;
	scale: 1;
	transition: all 0.3s;

	&:disabled {
		opacity: 0;
		scale: 0;
	}
}

.links {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 150px;
	flex: 1;
	position: relative;
}

.linkContainer {
	position: absolute;
	width: 100%;
	display: flex;
	align-items: center;

	&:last-child {
		width: 75%;
	}
}

.link {
	font-size: 14px;
	font-weight: 500;
	text-decoration: underline;
}

.hidden {
	opacity: 0;
	transform: scale(0.75);
	z-index: -1;
	user-select: none;
	transition: all 0.3s ease-in-out;
}

.visible {
	opacity: 1;
	transform: scale(1);
	z-index: 1;
	user-select: auto;
	transition: all 0.8s ease-in-out;
}

@media (max-width: 1920px) {
	.content {
		margin: calcVH(20) 0;
		padding: 0 calcVW(80) 0;
	}

	.titleContainer {
		width: calcVW(575);
	}

	.title {
		margin-bottom: calcVH(20);
		@include adaptive-font-mobile(40, 20);
	}

	.counter {
		@include adaptive-font(64, 32);

		& span {
			@include adaptive-font(24, 12);
		}
	}

	.survey {
		padding: calcVH(50) 0 calcVH(30) calcVW(90);
	}

	.typesContainer {
		& ul {
			row-gap: calcVH(30);
		}
	}

	.surveyTitle {
		margin-bottom: calcVH(30);
		@include adaptive-font(32, 20); // 20 - уже на мобилке.
	}

	.surveyTitleResults {
		margin-bottom: calcVH(20);
	}

	.optionsTask {
		// row-gap: calcVH(30);
		// column-gap: calcVW(50);
		gap: calcVW(30) calcVH(50);
		margin-bottom: calcVH(90);
	}

	.controls {
		padding-top: calcVH(30);
	}

	.backButton {
		margin-right: calcVW(50);
	}

	// .forwardButton {
	// width: 330px;
	// width: calcVW(330);
	// height: 80px;
	// height: calcVH(80);
	// }
}

@media (max-width: 768px) {
	.counter {
		display: none;
	}
}
