@import '../../../scss/_functions.scss';
@import '../../../scss/_mixins.scss';

.filterPanel {
	width: 415px;
	// min-height: 800px;
	height: max-content;
	padding: 50px;
	background-color: var(--white);
	border-radius: 20px;
}

.filters {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-bottom: 50px;
	border-bottom: 1px solid rgb(var(--light-gray-line-rgb));
}

// .filter {
// }

.buttons {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.buttonApply,
.buttonReset {
	width: 314px;
	height: 60px;
	border-radius: 10px;
	font-size: 20px;
	font-weight: 500;
}

// .buttonApply {
// }

.buttonReset {
	border: 1px solid rgb(var(--foreground-rgb));
	color: var(--gray-background-img-rgb);
	background-color: transparent;

	&:hover {
		background-color: rgb(var(--foreground-rgb));
		color: var(--white);
	}
}

@media (max-width: 1920px) {
	.filterPanel {
		// width: 415px;
		// min-height: 800px;

		// Это свойство под вопросом
		// padding: calcVH(50) calcVW(50) calcVH(50) calcVW(50);
	}

	.filters {
		// padding-bottom: calcVH(50);
	}

	.buttons {
		// margin-top: calcVH(50);
	}
}
