.promo {
  display: flex;
  width: 100%;
  padding: 0;
  &__title {
    margin-bottom: 20px;
  }
  &__wrapper {
    padding-left: 100px;
    width: 100%;
    padding: 80px calc((100vw - 1760px)/2);
    background-image: url(/img/main/promo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  &__descr {
    font-size: 32px;
    width: 30%;
    margin-bottom: 40px;
  }
  &__btn {
    margin: 0;
  }
  &__box {
    width: 68%;
    height: 100%;
    border-right: 1px solid $grey;
  }
}

@media(max-width: 1920px) {
  .promo {
    &__title {
      margin-bottom: calcVW(20);
    }
    &__wrapper {
      padding: calcVW(80) 100px;
    }
    &__descr {
      font-size: calcVW(32);
      margin-bottom: calcVW(40);
    }
  }
}

@media(max-width: 991px) {
  .promo {
    &__wrapper {
      padding: calcVW(80) 50px;
    }
  }
}

@media(max-width: 768px) {
  .promo {
    &__wrapper {
      padding: 30px 10px 10px 10px;
    }
  }
}