.promo {
  display: flex;
  width: 100%;
  padding: 0;
  &__title {
    margin-bottom: 20px;
  }
  &__left {
    padding-left: 100px;
    width: 38%;
    padding: 100px 0 100px calc((100vw - 1720px)/2);
  }
  &__right {
    width: 62%;
    background-image: url(/img/main/promo.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    height: auto;
  }
  &__descr {
    font-size: 32px;
    width: 90%;
    margin-bottom: 40px;
  }
  &__btn {
    margin: 0;
  }
  &__box {
    width: 68%;
    height: 100%;
    border-right: 1px solid $grey;
  }
}