.inputContainer {
	& label {
		// display: inline-block;
		// max-width: 35%;
		max-width: max-content;
		display: block;

		margin-left: 40px;
		margin-bottom: 10px;
		font-weight: 500;
	}
}

.input {
	width: 100%;
	padding: 28px 30px;
	border-radius: 20px;
	border: 1px solid rgb(var(--gray-line-rgb));
	font-size: 20px;
	font-weight: 400;
	background-color: rgb(var(--gray-background-img-rgb));
	transition: border-color 0.3s;

	&:focus {
		border-color: rgb(var(--foreground-rgb));
	}
}

.errorInput {
	border-color: var(--red-button);
}

.error {
	height: 12px;
	margin-top: 5px;
	margin-left: 40px;
	font-size: 10px;
	font-weight: 600;
	color: var(--red-button);
}

@media (max-width: 480px) {
	.inputContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		& label {
			margin-left: 0;
			font-size: 16px;
		}
	}

	.input {
		padding: 20px;
		border-radius: 10px;
		font-size: 16px;
	}

	.error {
		margin-left: 0;
	}
}
