<footer class="footer">
    <div class="container">
        <h2 class="title footer__title">
            <span>c</span>
            <span>•</span>
            <span>o</span>
            <span>•</span>
            <span>n</span>
            <span>•</span>
            <span>t</span>
            <span>•</span>
            <span>a</span>
            <span>•</span>
            <span>c</span>
            <span>•</span>
            <span>t</span>
            <span>&nbsp;&nbsp;&nbsp;</span>
            <span>u</span>
            <span>•</span>
            <span>s</span>
        </h2>
        <form action="#" class="form" id="form">
            <div class="form__wrapper">
                <label for="name" class="sr-only">name</label>
                <input type="text" name="name" placeholder="name" class="form__input">
                <label for="phone" class="sr-only">phone</label>
                <input type="phone" name="phone" placeholder="phone" class="form__input">
                <label for="company" class="sr-only">company</label>
                <input type="text" name="company" placeholder="company" class="form__input">
                <label for="position" class="sr-only">position</label>
                <input type="text" name="position" placeholder="position" class="form__input">
                <label for="email" class="sr-only">email</label>
                <input type="email" name="email" placeholder="email" class="form__input">
                <label for="textarea" class="sr-only">text</label>
                <textarea name="textarea" class="form__input form__input--textarea" placeholder="text"></textarea>
                <input type="hidden" name="footer">
            </div>
            <button class="form__btn" type="submit" id="send">send</button>
            <div class="responce">
                <p class="responce__text">OU WILL BE CONTACTED BY EMAIL SHORTLY</p>
                <button type="reset" class="form__btn form__btn--responce">send again</button>
            </div>
        </form>

    </div>


</footer>