$background: rgba(255, 255, 255, 1);
$dark-grey: rgba(53, 53, 53, 1);
$red: rgba(228, 31, 38, 1);
$grey: rgba(188, 188, 188, 1);
$light-grey: rgba(240, 240, 240, 1);
$hover-grey: rgba(94, 94, 94, 1);
$hover-red: rgba(170, 35, 32, 1);

$time: 0.3s;