@import '../scss/mixins';
@import '../scss/_functions.scss';

.container {
	width: 100%;
	height: 100vh;
}

.background {
	width: 100%;
	height: 100%;
	background-image: url('../../public/not-found/404-background.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.backgroundLogo {
	// height: auto;
	max-width: 1380px;
	// max-width: 60%;
	// width: 100%;
	height: 96vh;
	// object-fit: contain;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 0;
}

.content {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
	z-index: 10;
}

.link {
	cursor: pointer;
	transition: all 0.3s ease-in-out;

	@media (hover: hover) {
		&:hover {
			opacity: 0.75;
		}
	}

	@media (hover: none) {
		&:active {
			opacity: 0.75;
		}
	}
}

.logo {
	margin-top: 60px;
	margin-bottom: 100px;
}

.image {
	max-width: 1072px;
	height: auto;
	margin-bottom: 50px;
}

.title {
	margin-bottom: 50px;
	font-size: 40px;
	font-weight: 400;
	max-width: 600px;
	text-align: center;
	color: var(--white);
}

.button {
	color: rgb(var(--foreground-rgb));
	background-color: var(--white);

	@media (hover: hover) {
		&:hover {
			color: var(--white);
			background-color: rgb(var(--foreground-hover-rgb));
		}
	}

	@media (hover: none) {
		&:active {
			color: var(--white);
			background-color: rgb(var(--foreground-hover-rgb));
		}
	}

	// &:hover {
	// }
}

@media (max-width: 1920px) {
	.logo {
		margin-top: calcVH(60);
		margin-bottom: calcVH(100);
	}

	.image {
		margin-bottom: calcVH(50);
	}

	.title {
		margin-bottom: calcVH(50);
		@include adaptive-font(40, 24);
	}
}

@media (max-width: 1440px) {
	.image {
		max-width: 55%;
	}

	.backgroundLogo {
		max-width: 80%;
	}
}

@media (max-width: 1366px) {
	.image {
		max-width: 45%;
	}

	.backgroundLogo {
		max-width: 72%;
	}
}

@media (max-width: 1280px) {
	.logo {
		margin-top: calcVH(80);
		margin-bottom: calcVH(110);
	}

	.image {
		max-width: 55%;
	}
	// 	.title {
	// 		font-size: 68px;
	// 	}

	// 	.button {
	// 		width: 320px;
	// 		height: 70px;
	// 		font-size: 18px;
	// 	}
}

@media (max-width: 1024px) {
	.image {
		max-width: 65%;
	}
	// 	.container {
	// 		padding: 0 20px;
	// 	}

	.title {
		max-width: 450px;
	}

	.backgroundLogo {
		max-width: 95%;
	}
	// 	.button {
	// 		width: 300px;
	// 		height: 80px;
	// 		font-size: 20px;
	// 	}
}

@media (max-width: 1024px) and (min-height: 1024px) {
	.image {
		max-width: 95%;
	}

	.backgroundLogo {
		// height: auto;
		// max-width: 1380px;
		// max-width: 60%;
		// width: 100%;
		height: 50vh;
		// object-fit: contain;
		// position: absolute;
		// bottom: 0;
		// right: 0;
		// z-index: 0;
	}

	// .button {
	// margin-top: auto;
	// height: 100px;
	// flex: 1;
	// }
}

// @media (max-width: 820px) {
// 	.title {
// 		font-size: 60px;
// 	}

// 	.button {
// 		width: 250px;
// 		height: 70px;
// 		font-size: 18px;
// 	}
// }

// @media (max-width: 768px) {
// 	.title {
// 		font-size: 60px;
// 	}

// 	.button {
// 		width: 250px;
// 		height: 60px;
// 		font-size: 18px;
// 	}
// }

@media (max-width: 480px) {
	.backgroundLogo {
		// height: auto;
		// max-width: 1380px;
		// max-width: 60%;
		// width: 100%;
		height: auto;
		max-width: 100%;
		// object-fit: contain;
		// position: absolute;
		// bottom: 0;
		// right: 0;
		// z-index: 0;
	}

	.title {
		max-width: 80%;
	}

	.content {
		height: 100%;
	}

	.logo {
		// margin-top: calcVH(30);
		// margin-bottom: calcVH(50);
		margin-top: 30px;
		// margin-bottom: 60px;
		margin-bottom: 15vh;

		width: 155px;
		height: auto;
	}

	.image {
		max-width: 100%;
		padding: 0 10px;
		// margin: 0 10px;
		// height: auto;
		// margin-bottom: 50px;
	}

	.button {
		width: 280px;
		height: 60px;
		margin-top: auto;
		margin-bottom: 50px;
		border-radius: 10px;
		font-size: 16px;
	}
}

@media (max-width: 375px) {
	.logo {
		margin-bottom: 8vh;
	}

	// 	.button {
	// 		width: 180px;
	// 		font-size: 14px;
	// 	}
}

@media (max-width: 320px) {
	.button {
		margin-bottom: 30px;
	}
}
