@import '../../../scss/_functions.scss';
@import '../../../scss/_mixins.scss';

.container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(var(--gray-background-img-opacity-rgba));
	backdrop-filter: blur(10px);
	display: flex;
	justify-content: center;
	align-items: center;

	opacity: 0;
	z-index: -1;
	user-select: none;
	transition: all 0.3s ease-in-out;
}

.form {
	border-radius: 40px;
	padding: 90px 220px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: calc(100% - 80px - 80px);
	height: calc(100% - 100px - 100px);
	box-sizing: border-box;
	background-color: var(--white);
}

.title {
	margin-bottom: 50px;
	font-size: 64px;
	font-weight: 700;

	& span {
		color: var(--red-button);
	}
}

.inputs {
	width: 100%;
	margin-bottom: 50px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto auto 1fr;
	gap: 23px 40px;

	& > :nth-child(5) {
		grid-column: span 2;
	}
}

.buttonClose {
	width: 80px;
	height: 80px;
	border-radius: 40px;
	position: absolute;
	top: 40px;
	right: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: 0.3s all ease-in-out;
	color: var(--white);
	background-color: rgb(var(--foreground-rgb));

	& span {
		position: absolute;
		width: 25px;
		height: 1px;
		background-color: var(--white);
	}

	& span:first-child {
		transform: rotate(45deg);
	}

	& span:last-child {
		transform: rotate(-45deg);
	}

	@media (hover: hover) {
		&:hover {
			background-color: rgb(var(--foreground-hover-rgb));
		}
	}

	@media (hover: none) {
		&:active {
			background-color: rgb(var(--foreground-hover-rgb));
		}
	}
}

.buttons {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.submitButton {
	transition: all 0.3s ease-in-out;

	&:disabled {
		opacity: 0.5;
		cursor: default;

		&:hover {
			background-color: var(--red-button);
		}
	}
}

.checkbox {
	min-height: 45px;
	padding-left: 50px;
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: flex-start;
	position: relative;

	& input {
		position: absolute;
		opacity: 0;

		&:checked + label::before {
			background-color: var(--red-button);
			border: none;
		}

		&:checked + label::after {
			opacity: 1;
			transform: translateY(-50%) scale(1);
		}
	}

	& label {
		width: 430px;
		padding-left: 65px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		font-size: 16px;
		font-weight: 500;
		line-height: 120%;
		cursor: pointer;

		&::before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			z-index: 5;
			width: 45px;
			height: 45px;
			border-radius: 10px;
			border: 1px solid rgb(var(--gray-line-rgb));
			background-color: transparent;
			transition: background-color 0.3s, border 0.3s;
		}

		&::after {
			content: '';
			display: block;
			position: absolute;
			left: 12px;
			top: 50%;
			transform: translateY(-50%) scale(0);
			z-index: 10;
			width: 22px;
			height: 22px;
			background: url('../../../../public/check.svg') no-repeat center;
			background-size: 22px 22px;
			opacity: 0;
			transition: opacity 0.3s, transform 0.3s;
		}
	}
}

.attachment {
	width: 235px;
	height: 100%;
	border-radius: 50px;
	padding: 0 0 0 30px;
	color: var(--white);
	background-color: rgb(var(--foreground-rgb));
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	transition: 0.3s all ease-in-out;

	& p {
		font-size: 16px;
		font-weight: 500;
		text-align: left;
	}

	@media (hover: hover) {
		&:hover {
			background-color: rgb(var(--foreground-hover-rgb));
		}
	}

	@media (hover: none) {
		&:active {
			background-color: rgb(var(--foreground-hover-rgb));
		}
	}
}

.attachmentIcon {
	margin: 0 30px 0 0;
}

.visible {
	opacity: 1;
	z-index: 90;
	user-select: auto;
	transition: all 0.3s ease-in-out;
}

//
.inputContainer {
	& label {
		// display: inline-block;
		// max-width: 35%;
		max-width: max-content;
		display: block;

		margin-left: 40px;
		margin-bottom: 10px;
		font-weight: 500;
	}
}

.input {
	width: 100%;
	padding: 30px 30px;
	border-radius: 20px;
	border: 1px solid rgb(var(--gray-line-rgb));
	font-size: 20px;
	font-weight: 400;
	background-color: rgb(var(--gray-background-img-rgb));
}

.error {
	height: 12px;
	margin-top: 5px;
	margin-left: 40px;
	font-size: 10px;
	font-weight: 600;
	color: var(--red-button);
}
//

@media (max-width: 1920px) {
	.form {
		padding: calcVH(90) calcVW(220);
		width: calc(100% - calcVW(80) - calcVW(80));
		height: calc(100% - calcVH(100) - calcVH(100));
	}

	.title {
		margin-bottom: calcVH(50);
		@include adaptive-font(64, 32);
	}

	.inputs {
		margin-bottom: calcVH(50);
	}

	.checkbox {
		& label {
			@include adaptive-font(16, 12);
		}
	}
}

@media (max-width: 1024px) {
	.checkbox {
		& label {
			font-size: 14px;
		}
	}
}
