.nav {
	display: flex;
	flex-direction: column;
	// justify-content: space-between;
	// height: 100%;
	background-color: var(--white);
}

.accordion {
	list-style-type: none;
	padding: 50px 10px 0 20px;
	// background-color: var(--white);
	display: flex;
	flex-direction: column;
	flex: 1;
	// box-sizing: border-box;
	// height: 100%;

	// &.active {
	// 	color: var(--red-button);
	// }
}

.link {
	font-size: 20px;
	font-weight: 500;
	position: relative;
	transition: all 0.3s ease-in-out;
	margin-bottom: 30px;

	&:hover {
		color: var(--red-button);
	}
}

.socialLinks {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px 0;
	// background-color: var(--white);
	height: 85px;
}

// .socialLink {
// 	svg {
// 		width: 40px;
// 		height: 40px;
// 	}
// }

@media (max-width: 600px) {
	.socialLink {
		svg {
			width: 40px;
			height: 40px;
		}
	}
}
