.accordion {
	list-style-type: none;
	padding: 50px 10px 0 20px;
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	flex: 1;

	// &.active {
	// 	color: var(--red-button);
	// }
}

.link {
	font-size: 20px;
	font-weight: 500;
	position: relative;
	transition: all 0.3s ease-in-out;
	margin-bottom: 10px;

	&:hover {
		color: var(--red-button);
	}
}
