@import '../../../scss/_functions.scss';
@import '../../../scss/_mixins.scss';

.card {
	position: relative;
	height: 520px;
	width: 410px;
	display: flex;
	background-color: var(--white);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 40px 40px 30px;
	overflow: hidden;
	border-radius: 20px;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;

	backface-visibility: hidden;

	&:hover {
		transform: translateX(-8px) translateY(-8px);
	}
}

.backgroundImage {
	position: absolute;
	top: 0;
	left: 0;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	will-change: transform;
}

.title {
	margin-bottom: 8px;
	font-size: 24px;
	font-weight: 700;
	color: rgb(var(--foreground-rgb));
}

.subtitle {
	width: 75%;
	font-size: 20px;
	font-weight: 500;
	color: rgb(var(--foreground-rgb));
}

@media (max-width: 1920px) {
	.card {
		padding: calcVH(40) calcVW(40) calcVH(30);
	}

	.title {
		@include adaptive-font(24, 14);
	}

	.subtitle {
		@include adaptive-font(20, 12);
	}
}

@media (max-width: 1440px) {
	.card {
		width: 270px;
		height: 350px;
	}
}

@media (max-width: 1366px) {
	.card {
		width: 250px;
		height: 300px;
	}
}

@media (max-width: 820px) {
	.card {
		width: 200px;
		height: 250px;
	}
}

@media (max-width: 375px) {
	.card {
		width: 170px;
		height: 210px;
	}
}

@media (max-width: 320px) {
	.card {
		width: 145px;
		height: 185px;
	}
}
